body{
    background-color: black;
    color: white;
}

.container{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgb(66, 66, 66);
}

.textbox{
    border-style: solid;
    border-color: white;

    position: absolute;
    top: 600px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    overflow-wrap: anywhere;
}

button{
    position: absolute;
    top: 250px;
    bottom: 5px;
    left: 5px;
    right: 1300px;
}

img{
    width: 800px;
    height: 600px;
}

#char{
    text-align: center;
}

table{
    text-align: center;
    position: absolute;

    line-height: 30px;

    top: 45%;
    left: 17%;
}

td{
    width: 800px;
}
input{
    font-size: 32pt;
    width: 600px;
    height: 100px;
}

#output{
    background-color: white;
    color: black;
    font-size: larger;
}

#button{
    position: relative;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    height: 100px;
    width: 200px;
}